@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.satuNav {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 99;
  transition: ease all 1s;
}

.satuNav .container {
  margin: auto;
  width: 85%;
  max-width: 1200px;
}

.satuNav .container header {
  height: 114px;
  display: flex;
  justify-content: space-between;
  transition: ease all 1s;
}

.satuNav .container header .img img {
  width: 200px;
  transition: ease all 1s;
}

.satuNav .container header menu nav {
  height: 100%;
}

.satuNav .container header menu nav ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
  height: 100%;
}

.satuNav .container header menu nav ul li {
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-top: 2px solid transparent;
  border-right: 1px solid rgba(88, 88, 88, 0.158);
}

.satuNav .container header menu nav ul li a {
  margin: 0 12px;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  font-family: gothambold;
  letter-spacing: 2px;
}

.satuNav .container header menu nav ul li:nth-last-child(6) {
  border-left: 1px solid rgba(88, 88, 88, 0.158);
  border-top: 2px solid #e27026;
}

.satuNav .container header menu nav ul li:hover {
  border-top: 2px solid #e27026;
}

.satuNav .container .bahasa {
  background: #fff;
  position: absolute;
  transition: ease all 1s;
  top: 134px;
  right: 20px;
  width: 130px;
  height: 47px;
  padding: 5px 10px;
}

.satuNav .container .bahasa p {
  font-family: gothamlight;
  font-size: 12px;
  margin-bottom: 0px;
  text-align: center;
}

.satuNav .container .bahasa .row {
  justify-content: center;
}

.satuNav .container .bahasa .row .col {
  display: flex;
  align-items: center;
}

.satuNav .container .bahasa .row .col img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}


/* Responsip navbar*/
.toggle-menu {
    width: 32px;
      height: 32px;
      background: transparent;
      border-color: transparent;
      padding:0;
}
.toggle-menu span {
    width: 100%;
    height: 4px;
    transition: all .3s;
    background-color: transparent;
    position: relative;
    display: block;
  }

  .toggle-menu span:before,
  .toggle-menu span:after {
    content:"";
    width: 100%;
    height: 4px;
    background-color: #000;
    transition: all .3s;
    position: absolute;
    top:0;
    right:0;
  }

  .toggle-menu span:before {
    width:70%;
  }

  .toggle-menu span:after {
    top: 18px;
  }

  .toggle-menu.active span:before {
    transform: rotate(45deg) translate(9px,4px);
      width: 100%;
  }

  .toggle-menu.active span:after {
    transform: rotate(-45deg) translate(8px,-4px);
  }

  .desktop-none {
    display:none;
  }

  @media screen and (max-width: 1024px) {
      .toggle-menu {
        position: fixed;
        top:15px;
        right:15px;
      }

      .desktop-none {
        display: block;
      }
      .mobile-none {
        display: none;
      }

      #primary-menu .logo {
        padding-left:15px;
      }

      #primary-menu {
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        /* width:calc(100% - 150px); */
        /* max-width: 300px; */
        /* padding:20px; */
        background: #FFF;
        height: 100vh;
        top:-100%;
        transition: all .3s ease-in;
      }

      #primary-menu.active {
        top:0;
      }

      #primary-menu ul {
        display: block;
      }

      #primary-menu ul li a {
        display: block;
        padding:20px 15px;
      }

      .satuNav .container .bahasa {
        top: 20px;
        right: 80px;
        background: transparent;
      }
    }

.satu {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  z-index: 99;
}

.satu .container {
  margin: auto;
  width: 85%;
  max-width: 1200px;
}

.satu .container header {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.satu .container header .img img {
  width: 180px;
}

.satu .container header menu nav {
  height: 100%;
}

.satu .container header menu nav ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
  height: 100%;
}

.satu .container header menu nav ul li {
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-top: 2px solid transparent;
  border-right: 1px solid rgba(88, 88, 88, 0.158);
}

.satu .container header menu nav ul li a {
  margin: 0 12px;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  font-family: gothamBold;
  letter-spacing: 2px;
}

.satu .container header menu nav ul li:nth-last-child(6) {
  border-left: 1px solid rgba(88, 88, 88, 0.158);
  border-top: 2px solid #e27026;
}

.satu .container header menu nav ul li:hover {
  border-top: 2px solid #e27026;
}

.satu .container .bahasa {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 120px;
  right: 20px;
  width: 130px;
  height: 47px;
  padding: 5px 10px;
}

.satu .container .bahasa p {
  font-family: gothamLight;
  font-size: 12px;
  margin-bottom: 0px;
  text-align: center;
}

.satu .container .bahasa .row {
  justify-content: center;
}

.satu .container .bahasa .row .col {
  display: flex;
  align-items: center;
}

.satu .container .bahasa .row .col img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}


/* Bagian Kedua */

#kedua .container1 {
  margin: 10px;
  height: 361.81px;
  overflow: hidden;
}

#kedua .container1 .grid {
  display: grid;
  grid-template-columns: 66.6% 33.4%;
  grid-template-rows: 361.81px 361.81px;
  column-gap: 10px;
}

#kedua .container1 .grid .itemku {
  transition: all 1s ease;
}

#kedua .container1 .grid .item .konten {
  display: flex;
  align-items: center;
  height: 100%;
  margin: auto auto;
  width: 65%;
}

#kedua .container1 .grid .item .konten .isi {
  justify-content: center;
  align-items: center;
}

#kedua .container1 .grid .item .konten .isi h2 {
  font-family: gothambold;
  /* font-weight: bold; */
  font-size: 20px;
  color: #ffff;
  text-align: center;
  transition: all 0.9s ease;
}

#kedua .container1 .grid .item .konten .isi h4 {
  margin-top: 18px;
  text-align: center;
  line-height: 24px;
  font-family: din;
  font-size: 15px;
  letter-spacing: 1px;
  color: #ffff;
}

#kedua .container1 .grid .item .konten .isi div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#kedua .container1 .grid .item .konten .isi div button {
  margin: 0 auto;
  font-size: 13px;
  width: 123px;
  height: 38px;
  border: 1px solid #ffff;
  background: transparent;
  font-family: dinbold;
  font-weight: bold;
  color: #ffff;
  transition: all 0.9s ease;
  border-radius: 5px;
}

#kedua .container1 .grid .item .konten .isi div button:hover {
  color: #e27026;
}

#kedua .container1 .grid .item .i-container {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 40px 50px;
}

#kedua .container1 .grid .item .i-container .i-konten {
  display: flex;
  align-items: center;
}

#kedua .container1 .grid .item .i-container .i-konten .isi-konten h3 {
  font-family: gothambold;
  font-weight: bold;
  text-align: center;
  color: white;
}

#kedua .container1 .grid .item .i-container .i-konten .isi-konten .i-isi {
  display: flex;
}

#kedua .container1 .grid .item .i-container .i-konten .isi-konten .i-isi .kiri {
  margin-right: 20px;
}

#kedua .container1 .grid .item .i-container .i-konten .isi-konten .i-isi .kanan p {
  font-family: din;
  color: white;
  font-size: 13px;
}

#kedua .container1 .grid .item .i-container .i-konten .isi-konten .i-isi .kanan button {
  font-family: din;
  font-weight: bold;
  font-size: 14px;
  background: #e27026;
  border: 2px solid transparent;
  color: white;
  width: 115px;
  height: 39px;
  border-radius: 5px;
  transition: all 0.9s ease;
}

#kedua .container1 .grid .item .i-container .i-konten .isi-konten .i-isi .kanan button:hover {
  background: transparent;
  border: 2px solid #e27026;
  color: #e27026;
}

#kedua .container1 .grid .itemku:hover {
  filter: brightness(70%);
  transition: all 1s ease;
}

#kedua .container1 .grid .itemku:hover .konten .isi h2 {
  color: #e27026;
  transition: all 0.9s ease;
}

/* Responsip */
@media screen and (max-width: 1024px) {
  #kedua {
    position: relative;
  }
  #kedua .container1 {
    height: auto;
  }
  #kedua .container1 .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 361.81px;
    grid-auto-flow: row;
    row-gap: 10px;
  }
  #kedua .container1 .grid .itemku {
    transition: all 1s ease;
  }
}

/* Bagian Ke empat */
#keempat .container1 {
  margin: 10px;
}

#keempat .container1 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 380.7px;
  column-gap: 10px;
}

#keempat .container1 .grid .item:hover {
  filter: brightness(70%);
}

#keempat .container1 .grid .item {
  transition: ease all 1s;
}

#keempat .container1 .grid .item .container {
  padding: 30px 30px;
}

#keempat .container1 .grid .item .container .wrap {
  display: flex;
  justify-content: space-between;
}

#keempat .container1 .grid .item .container .wrap .kiri .konten {
  display: flex;
}

#keempat .container1 .grid .item .container .wrap .kiri .konten img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

#keempat .container1 .grid .item .container .wrap .kiri .konten p {
  font-size: 17px;
  font-family: din;
  color: #ffff;
  line-height: 20px;
}

#keempat .container1 .grid .item .container .wrap .kanan .border1 {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}

#keempat .container1 .grid .item .container .wrap .kanan .border1 p {
  margin-bottom: 0px;
  font-family: din;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  color: white;
  transition: ease all 1s;
}

#keempat .container1 .grid .item .container .wrap .kanan .border1 p:hover {
  color: #e27026;
}

#keempat .container1 .grid .item .container .bawah p {
  margin-top: 200px;
  text-align: center;
  color: white;
  font-family: gothambold;
  font-weight: bold;
  letter-spacing: 1.9px;
}

@media screen and (max-width: 655px) {
  #keempat .container1 .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 380.7px;
    row-gap: 10px;
  }
  #keempat .container1 .grid .item .container {
    padding: 30px 30px;
  }
}

/* Kelima */

#kelima .container1 {
  margin: 10px;
}

#kelima .container1 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 380.52px;
  column-gap: 10px;
  row-gap: 10px;
}

#kelima .container1 .grid .colom:hover {
  filter: brightness(80%);
}

#kelima .container1 .grid .colom {
  color: #ffffff;
  transition: ease all 1s;
}

#kelima .container1 .grid .colom .container {
  padding: 30px 30px;
}

#kelima .container1 .grid .colom .container .wrap {
  display: flex;
  justify-content: space-between;
}

#kelima .container1 .grid .colom .container .wrap .kiri .konten {
  display: flex;
}

#kelima .container1 .grid .colom .container .wrap .kiri .konten img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#kelima .container1 .grid .colom .container .wrap .kiri .konten p {
  font-size: 17px;
  font-family: din;
  color: #ffff;
  line-height: 20px;
}

#kelima .container1 .grid .colom .container .wrap .kanan .border1 {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}

#kelima .container1 .grid .colom .container .wrap .kanan .border1 p {
  margin-bottom: 0px;
  font-family: dinbold;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  color: white;
  transition: ease all 1s;
}

#kelima .container1 .grid .colom .container .wrap .kanan .border1 p:hover {
  color: #e27026;
}

#kelima .container1 .grid .colom .container .bawah p {
  margin-top: 250px;
  text-align: center;
  font-family: gothambold;
  font-weight: bold;
  color: white;
}

/* Kelima Responsip */

@media screen and (max-width: 970px) {
  #kelima .container1 {
    overflow: hidden;
  }
  #kelima .container1 .grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
  }
  #kelima .container1 .grid .colom {
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 655px) {
  #kelima .container1 .grid {
    grid-template-columns: 1fr;
  }
  #kelima .container1 .grid .colom {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#ketujuh {
  margin-top: 70px;
}

#ketujuh .container1 {
  margin: 10px;
  display: grid;
  grid-template-columns: 66.6% 33.4%;
  column-gap: 10px;
  overflow: hidden;
}

#ketujuh .container1 .colom {
  height: 361.88px;
  overflow: hidden;
  background-repeat: no-repeat;
}

#ketujuh .container1 .colom .wrap, #ketujuh .container1 .colom .wrap-satu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#ketujuh .container1 .colom .wrap .konten h1, #ketujuh .container1 .colom .wrap-satu .konten h1 {
  text-align: center;
  color: white;
  font-family: gothambold;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px #535353;
}

#ketujuh .container1 .colom .wrap .konten h1:nth-last-child(1), #ketujuh .container1 .colom .wrap-satu .konten h1:nth-last-child(1) {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

@media screen and (max-width: 855px) {
  #ketujuh .container1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
  }
  #ketujuh .container1 .colom {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

footer {
  margin-top: 100px;
  background: #222222;
  overflow: hidden;
}

footer hr {
  border: 1px solid grey;
  width: 100%;
  margin: 0;
}

footer .img {
  height: 90px;
  width: 100%;
  background-size: unset;
  margin-top: -50px;
  position: absolute;
  z-index: 2;
}

footer .container {
  margin: auto;
  width: 93%;
}

footer .container .grid1 {
  display: grid;
  margin-top: 70px;
  margin-bottom: 20px;
  grid-template-columns: 1.5fr 0.9fr 1fr;
  column-gap: 20px;
}

footer .container .grid1 .colom {
  color: #888787;
}

footer .container .grid1 .colom p {
  font-family: dinlight;
  font-weight: lighter;
  font-size: 15px;
  line-height: 30px;
}

footer .container .grid1 .colom p span {
  font-family: dinbold;
  font-weight: bold;
}

footer .container .grid1 .colom img {
  width: 400px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

footer .container .grid1 .colom .row1 {
  display: flex;
}

footer .container .grid1 .colom .row1 i {
  color: #e27026;
  margin-right: 10px;
}

footer menu {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

footer menu .container2 {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

footer menu .container2 .kiri a {
  text-decoration: none;
  color: #6d6d6d;
}

footer menu .container2 ul {
  display: flex;
}

footer menu .container2 ul li {
  margin-right: 10px;
  list-style-type: none;
}

footer menu .container2 ul li a {
  text-decoration: none;
  color: #c9c9c9;
}


/* ========================================== */
/* Responship Footer */
/* ========================================== */
@media screen and (max-width: 855px) {
  footer {
    margin-top: 100px;
    background: #222222;
    overflow: hidden;
  }
  footer .img {
    height: 90px;
    width: 100%;
    background-size: unset;
    margin-top: -50px;
    position: absolute;
    z-index: 2;
  }
  footer .container {
    margin: auto;
    width: 93%;
  }
  footer .container .grid1 {
    display: grid;
    margin-top: 70px;
    margin-bottom: 20px;
    grid-template-columns: 1fr;
    column-gap: 20px;
  }
  footer .container .grid1 .colom {
    color: #888787;
  }
  footer .container .grid1 .colom p {
    font-family: dinlight;
    font-weight: lighter;
    font-size: 15px;
    line-height: 30px;
  }
  footer .container .grid1 .colom p span {
    font-family: DinBold;
    font-weight: bold;
  }
  footer .container .grid1 .colom img {
    width: 400px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  footer .container .grid1 .colom .row1 {
    display: flex;
  }
  footer .container .grid1 .colom .row1 i {
    color: #e27026;
    margin-right: 10px;
  }
  footer menu {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  footer menu .container2 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  footer menu .container2 .kiri {
    display: none;
  }
  footer menu .container2 .kiri a {
    text-decoration: none;
    color: #6d6d6d;
  }
  footer menu .container2 ul {
    display: flex;
  }
  footer menu .container2 ul li {
    margin-right: 10px;
  }
  footer menu .container2 ul li a {
    text-decoration: none;
    color: #c9c9c9;
  }
}
.content
{
    min-height: 500px;
    padding-top: 110px;
}

.content1
{
    padding-top: 110px;
}


/* Page Signature */

#page-signature{

}

/* #page-signature .container3 {
  width: 95%;
  margin: auto;
} */

#page-signature .container3 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

#page-signature .container3 .grid .colom {
    width: 100%;
    height: 300px;
    padding: 50px;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease all 1s;

}

#page-signature .container3 .grid .colom:hover {
    color: #fff;
    filter: brightness(0.7);
}


#page-signature .container3 .grid .colom h1 {
    text-align: center;
    font-size: 12px;
    margin-top: 150px;
}

#page-signature .container3 .grid .colom h2 {
    text-align: center;
}

#myBtnContainer .btn {
    font-family: din;
}

#myBtnContainer .btn:hover {
    background-color: #e27026;
    border-radius: 0px;
    color: white;
}



/* pages Info */




#breadcrumb .container{
    width: 80%;
    margin: auto;
    display: flex;
}

#breadcrumb {
    background-image: url(../image/pageinfo/img/parallaxGambar.jpg);
    min-height: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


#breadcrumb .container .conten {
    padding: 100px 0;
    align-items: center;
    margin: 0 auto;
}
#breadcrumb p,
#breadcrumb h2 {
    text-align: center;
    font-family: gothambold;
    color: white;
}

#isi{
    background: #2D3E50;;
}

#isi .container4{
    margin: auto;
    width: 92%;
    padding: 100px 0;
}

#isi .container4 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-areas:
        'konten konten gambar gambar'
        'konten konten gambar1 gambar2'
        'poto poto1 kontenku kontenku'
        'poto2 poto3 kontenku kontenku';

}

/* .grid .item {
    background: brown;
} */

#isi .container4 .grid .item h4, .grid .item h1, .grid .item h4, .grid .item h5, .grid .item p {
    /* background: brown; */
    color: white;
    line-height: 30px;
    text-align: justify;
}

#isi .container4 .grid .item h5 {
    font-family: gothambold;
    line-height: 50px;
    font-size: 15px;
}

#isi .container4 .grid .item h4 {
    font-family: gothambold;

}

#isi .container4 .grid .item h1 {
    font-size: 40px;
    font-family: gothambold;
    line-height: 60px;
    letter-spacing: 13px;

}

#isi .container4 .grid .item p {
    font-family: dinlight;
}

#isi .container4 .grid .item h4 {
    font-size: 20px;

}
#isi .container4 .grid .item h5 {}


#isi .container4 .grid .konten{
    grid-area: konten;
}

#isi .container4 .grid .gambar{
    grid-area: gambar;
    background-image: url(../image/pageinfo/img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#isi .container4 .grid .gambar1{
    grid-area: gambar1;
    background-image: url(../image/pageinfo/img/2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#isi .container4 .grid .gambar2{
    grid-area: gambar2;
    background-image: url(../image/pageinfo/img/3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#isi .container4 .grid .poto{
    grid-area: poto;
    background-image: url(../image/pageinfo/img/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#isi .container4 .grid .poto1{
    grid-area: poto1;
    background-image: url(../image/pageinfo/img/5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#isi .container4 .grid .poto2{
    grid-area: poto2;
    background-image: url(../image/pageinfo/img/6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#isi .container4 .grid .poto3{
    grid-area: poto3;
    background-image: url(../image/pageinfo/img/7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#isi .container4 .grid .kontenku{
    grid-area: kontenku;
    display: flex;
}

#isi .container4 .grid .kontenku .isi-konten {
    height: 200px;
    margin: auto;
    align-items: center;
    padding: auto;
}

#isi .container4 .grid .kontenku .isi-konten p{
    color: white;
    font-family: dinlight;
    margin-bottom: 20px;
    text-align: justify;
}

#company .container4 {
    margin: auto;
    width: 92%;
    padding: 100px 0;
}

#company .container4 .grid-company {
    display: grid;
    grid-template-columns: 30% 70%;
}

#company .container4 .grid-company .kota {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#company .container4 .grid-company .colom-kota {
    display: flex;
    justify-content: center;
    align-items: center;
}

#company .container4 .grid-company .colom1 h1,
#company .container4 .grid-company .colom1 p{
    font-family: gothambold;
}
#company .container4 .grid-company .colom1 h1{
    letter-spacing: 7px;
}
#company .container4 .grid-company .colom1 p{
    color: grey;
}
/* #company .container4 .grid-company .colom-kota .isi-kota:hover {
    border-radius: 100px;
    border: 5px solid #E3722A;
} */

#company .container4 .grid-company .colom-kota .isi-kota p {
    font-family: gothambold;
    font-size: 18px;
    color: grey;
}

#company .container4 .grid-company .colom-kota .isi-kota .image img {
    margin: 20px 0px;
    margin: auto;
    width: 85px;
}

#company .container4 .grid-company .colom-kota .isi-kota .image {
    border-radius: 100px;
    margin: 15px 0px;
    border: 5px solid transparent;
    transition: ease all 1s;
}

#company .container4 .grid-company .colom-kota .isi-kota .image:hover {
    border-radius: 100px;
    border: 5px solid  #E3722A;
}

#company .container4 .grid-company .colom-kota .isi-kota p {
    text-align: center;
}



/* Page Our */

#breadcrumb1 .container{
    width: 80%;
    margin: auto;
    display: flex;
}

#breadcrumb1 {
    background-image: url(../image/pageour/parallaxour.jpg);
    min-height: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


#breadcrumb1 .container .conten {
    padding: 100px 0;
    align-items: center;
    margin: 0 auto;
}
#breadcrumb1 p,
#breadcrumb1 h2 {
    text-align: center;
    font-family: gothambold;
    color: white;
}


#our .container4{
    margin: auto;
    width: 92%;
    padding: 100px 0;
}

#our .container4 .griding {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 400px;
    column-gap: 40px;

}

#our .container4 .griding .colom1-satu{
    background: url(../image/pageour/imagekonten.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#our .container4 .griding .colom1 p{
    line-height: 27px;
    font-family: din;
    text-align: justify;
}

#our .container4 .isi p {
    margin-top: 40px;
    font-family: din;
    line-height: 27px;
    text-align: justify;
}


#breadcrumb-social {
    background-image: url(../image/pagesocial/paralaxheader.jpg);
    min-height: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


#breadcrumb-social .container .conten {
    padding: 100px 0;
    align-items: center;
    margin: 0 auto;
}
#breadcrumb-social p,
#breadcrumb-social h2 {
    text-align: center;
    font-family: gothambold;
    color: white;
}


#social {
    background: #2D3E50;
}

#social .container4 {
    margin: auto;
    width: 92%;
    padding: 100px 0;
}

#social .container4 .grid-social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    grid-template-areas:
        'konten konten'
        'artikel1 gambar'
        'kontenku1 koko';
}

.row-social1 {
    grid-area: konten;

}

.row-social1 p {
    font-family: din;
    font-size: 15px;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: white;

}

.row-social2 {
    grid-area: artikel1;
}

.row-social2 h1,
.row-social2 p,
.row-social2 li {
    font-family: din;
    text-align: justify;
    color: white;
    line-height: 30px;
}

.row-social2 h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.row-social2 li {
    padding: 20px 0;
    color: white;
    font-weight: bold;
}

.row-social3 {
    background: url(../image/pagesocial/gambarkonten.jpg);
    grid-area: gambar;

}

.row-social4 {
    grid-area: kontenku1;
}

.row-social4 h1,
.row-social5 h1,
.row-social5 p,
.row-social4 p {
    font-family: din;
    text-align: justify;
    color: white;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.row-social4 h1, .row-social5 h1 {
    font-weight: bold;
    font-size: 25px;
    color: white;
}
.row-social5 {
    grid-area: koko;
}
#breadcrumb-foot .container{
    width: 80%;
    margin: auto;
    display: flex;
}

#breadcrumb-foot {
    background-image: url(../image/pagesocial/parallax.jpg);
    min-height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#breadcrumb-foot .isi .gridku {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 150px);
    column-gap: 30px;
    row-gap: 30px;
}

#breadcrumb-foot .isi {
    padding: 100px 0;
    width: 100%;
}

#breadcrumb-foot .container .isi .gridku .colomku {
    background: url(../image/img/ketujuh2.png);
    background-position: center;
    background-size: cover;
}
